.link {
  color: inherit;
}

.wrapper {
  /* outline: 1px dashed teal; */
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px;

  box-shadow: var(--box-shadow);
  background-color: var(--color-background-secondary);
  transition: background-color 250ms linear;
}

.wrapper:hover,
.wrapper:focus {
  background-color: var(--color-accent-secondary);
}

.image {
  padding: 4px;
  border-radius: 4px;

  background-color: var(--color-gray);
  box-shadow: var(--box-shadow);
}

.info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  overflow: scroll;
  padding: 8px 0;
}

.name {
  font-weight: 500;
}

.name,
.phone {
  font-size: 14px;
}

.email {
  font-size: 12px;
  font-style: italic;
}
