.inner {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contacts-box {
  /* outline: 1px dashed blue; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 100%;
}

@media screen and (min-width: 768px) {
  .inner {
    flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  .inner {
    gap: 0;
    /* justify-content: space-around; */
    /* justify-content: space-between; */
  }

  .contacts-box {
    /* outline: 1px dashed blue; */
    /* width: auto; */
    max-width: 1200px;
    margin-left: auto;
  }
}
