.nav {
  display: flex;
  gap: 16px;
}

.link {
  display: inline-flex;
  text-decoration: none;
  /* padding: 12px; */
  font-weight: 700;
  color: #2a363b;
}

.link-active {
  display: inline-flex;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: #e84a5f;
}
