.wrapper {
  padding: 8px 16px;
  margin: 0 auto;
}

.filter {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 200px;
  text-align: center;
}

.filter input {
  padding: 4px;
  height: 24px;
  border: 1px solid;
  border-radius: 4px;
  transition: border-color 250ms linear;
}

.filter input:focus {
  outline: none;
  border-color: var(--color-accent-primary);
}

@media screen and (min-width: 480px) {
  .filter {
    width: 320px;
  }
}
