.overlay {
  z-index: 1200;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.8);
}

.modal {
  position: relative;
  max-width: calc(100vw - 48px);
  max-height: calc(100vh - 24px);
  padding: 16px;

  background-color: #fff;
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding: 4px;
  width: 40px;
  height: 40px;
  border: 1px solid;
  border-radius: 4px;
  cursor: pointer;
  transition: scale 250ms linear, color 250ms linear,
    background-color 250ms linear;
}

.btn-close:hover,
.btn-close:focus {
  color: #e84a5f;
  background-color: #e2ddf8;
  scale: 1.1;
}

.btn-close:active {
  background-color: #5f6775;
  color: #f4f4f4;
}
