.form {
  display: flex;
  flex-direction: column;
  gap: 24px;

  width: 268px;
  padding: 8px;
  border: 1px solid;
  border-radius: 4px;
  background-color: #fff;
}

.form-label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 100%;
  /* width: 270px; */
}

.form-input {
  height: 24px;
  /* width: 270px; */
  max-width: 100%;
}

.buttons-bar {
  display: flex;
  justify-content: space-around;
}

.add-btn,
.clear-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 120px;
  padding: 16px 8px;
  height: 24px;
  cursor: pointer;
  flex-shrink: 0;

  border: 1px solid;
  border-radius: 4px;
  transition: scale 250ms linear, color 250ms linear,
    background-color 250ms linear;
}

.disabled {
  pointer-events: none;
}

.add-btn:hover,
.add-btn:focus,
.clear-btn:hover,
.clear-btn:focus {
  color: #e84a5f;
  background-color: #e2ddf8;
  scale: 1.1;
}

.add-btn:active,
.clear-btn:active {
  background-color: #5f6775;
  color: #f4f4f4;
}

@media screen and (max-width: 319px) {
  .clear-btn-label {
    display: none;
  }

  .clear-btn {
    width: 40px;
  }

  .form {
    width: 236px;
  }
}

@media screen and (max-width: 399px) {
  /* .form {
    width: 256px;
  } */

  /* input {
    width: 256px;
  } */
}

@media screen and (min-width: 768px) and (max-width: 1040px) {
  .clear-btn-label {
    display: none;
  }

  .clear-btn {
    width: 40px;
  }

  .form {
    width: 236px;
  }
}
