.wrapper {
  /* outline: 1px dashed tomato; */

  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 8px;
}

.heading {
  text-align: center;
  padding-right: 24px;
}

.list {
  /* outline: 1px dashed teal; */

  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 8px;
  padding: 4px;
  min-height: 80px;
  max-height: 65vh;
  max-width: 70vw;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.list::-webkit-scrollbar {
  margin-left: 2px;
  width: 2px;
}
/* .list::-webkit-scrollbar-track {
  padding: 4px 0;
} */

.list::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 4px;
}

.item {
  /* outline: 1px dashed tomato; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 4px;
  border: 1px solid gray;
  border-radius: 4px;
}

.message-text {
  padding-right: 8px;

  font-size: 14px;
}

.message-date {
  flex-shrink: 0;

  font-size: 12px;
  font-style: italic;
  color: var(--color-gray);
}

.form-input {
  height: 24px;
  border: 1px solid;
  border-radius: 4px;
  transition: border-color 250ms linear;
}

.form-input:focus {
  outline: none;
  border-color: var(--color-accent-primary);
}

.input-label {
  /* outline: 1px dashed green; */

  position: relative;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.submit-btn,
.clear-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 120px;
  padding: 16px 8px;
  height: 24px;
  cursor: pointer;
  flex-shrink: 0;
  border: 1px solid;
  border-radius: 4px;
  transition: scale 250ms linear, color 250ms linear,
    background-color 250ms linear;
}

.submit-btn:hover,
.submit-btn:focus,
.clear-btn:hover,
.clear-btn:focus {
  color: var(--color-accent-primary);
  background-color: var(--color-accent-secondary);
  scale: 1.1;
}

.submit-btn:active,
.clear-btn:active {
  background-color: #5f6775;
  color: #f4f4f4;
}

.disabled {
  pointer-events: none;
}

.info-btn {
  position: absolute;
  top: 0;
  right: 0;

  width: 24px;
  height: 24px;
  padding: 0;
  border: none;

  background-color: transparent;
  color: #0000ff;
  transition: scale 250ms linear, color 250ms linear,
    background-color 250ms linear;
}

.info-btn:hover,
.info-btn:focus {
  color: var(--color-accent-primary);
  background-color: transparent;
  scale: 1.1;
}

.info-pop-up {
  /* outline: 1px dashed tomato; */
  padding-right: 28px;
  max-width: 280px;

  font-size: 14px;
}

.btn-bar {
  margin-top: 8px;
  display: flex;
  justify-content: space-around;
}

.disabled {
  pointer-events: none;
}

@media screen and (max-width: 319px) {
  .clear-btn-label {
    display: none;
  }

  .clear-btn {
    width: 40px;
  }
}
