.wrapper {
  /* outline: 1px dashed blue; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  max-width: 1200px;

  box-shadow: var(--box-shadow);
  background-color: var(--color-background-secondary);
}

.inner {
  /* outline: 1px dashed teal; */
  display: flex;
  align-items: center;
  gap: 4px;
  padding-right: 8px;
}

.image {
  padding: 4px;
  border-radius: 4px;
  background-color: var(--color-gray);
  box-shadow: var(--box-shadow);
}

.info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 8px 0;
  overflow: scroll;
}

.name,
.phone,
.email {
  font-size: 14px;
}

.email {
  font-style: italic;
}

.label-name,
.label-phone,
.label-email {
  font-style: normal;
  font-weight: 500;
}

.btn-bar {
  display: flex;
  gap: 8px;
}

.message-btn,
.edit-btn,
.delete-btn,
.fav-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 80px;
  padding: 16px 8px;
  height: 24px;
  cursor: pointer;
  flex-shrink: 0;
  border: 1px solid;
  border-radius: 4px;
  transition: scale 250ms linear, color 250ms linear,
    background-color 250ms linear;
}

.fav-btn {
  width: 40px;
}

.icon-fav-remove {
  color: red;
}

.fav-btn .btn-label {
  display: none;
}

.call-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  gap: 4px;
  width: 80px;
  margin: 0;
  border: 1px solid;
  border-radius: 4px;

  font-size: 13.333px;
  color: var(--color-text-primary);
  background-color: rgb(239, 239, 239);
  cursor: pointer;
  transition: scale 250ms linear, color 250ms linear,
    background-color 250ms linear;
}

.disabled {
  pointer-events: none;
}

.call-btn:hover,
.call-btn:focus,
.message-btn:hover,
.message-btn:focus,
.fav-btn:hover,
.fav-btn:focus,
.edit-btn:hover,
.edit-btn:focus,
.delete-btn:hover,
.delete-btn:focus {
  color: var(--color-accent-primary);
  background-color: var(--color-accent-secondary);
  scale: 1.1;
}

.call-btn:active,
.message-btn:active,
.fav-btn:active,
.edit-btn:active,
.delete-btn:active {
  background-color: #5f6775;
  color: #f4f4f4;
}

@media screen and (max-width: 799px) {
  .inner {
    max-width: 216px;
  }
}

@media screen and (min-width: 800px) and (max-width: 864px) {
  .inner {
    max-width: 236px;
  }
}

@media screen and (max-width: 1039px) {
  .email {
    font-size: 12px;
  }

  .label-name,
  .label-phone,
  .label-email {
    display: none;
  }

  .btn-label {
    display: none;
  }

  .delete-btn,
  .edit-btn,
  .call-btn,
  .message-btn,
  .fav-btn {
    width: 40px;
  }
}
