.wrapper {
  /* outline: 1px dashed blue; */

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  max-width: 1200px;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14),
    0 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #e6dddd;

  /* gap: 4px; */
  /* width: 100%; */
}

.inner {
  /* outline: 1px dashed teal; */
  display: flex;
  align-items: center;
  gap: 4px;
  /* max-width: 200px; */
  padding-right: 8px;
}

.image {
  background-color: #a8a8a8;
  border-radius: 4px;
  padding: 4px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 4px;

  overflow: scroll;

  /* flex-shrink: 1; */
  /* max-width: 100%; */
  /* padding-right: 8px; */
}

.name,
.phone,
.email {
  font-size: 14px;
}

.email {
  /* font-size: 12px; */
  font-style: italic;
}

.label-name,
.label-phone,
.label-email {
  /* display: none; */

  font-style: normal;
  font-weight: 500;
}

.btn-bar {
  display: flex;
  gap: 8px;
}

.delete-btn {
  width: 80px;
  /* margin-right: 16px; */
  flex-shrink: 0;
}

.edit-btn {
  width: 80px;
  flex-shrink: 0;
}

.message-btn {
  width: 80px;
  flex-shrink: 0;
}

.fav-btn {
  width: 40px;
}

.icon-fav-remove {
  color: red;
}

.fav-btn .btn-label {
  display: none;
}

.disabled {
  /* margin-right: 16px; */
  flex-shrink: 0;
  pointer-events: none;
}

.call-btn {
  width: 80px;
  flex-shrink: 0;
  color: rgb(0, 0, 0);
  background-color: rgb(239, 239, 239);
  margin: 0;
  font-size: 13.333px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  /* width: 120px; */
  /* padding: 16px 8px;
  height: 24px; */
  cursor: pointer;
  flex-shrink: 0;

  border: 1px solid;
  border-radius: 4px;
  transition: scale 250ms linear, color 250ms linear,
    background-color 250ms linear;
}

.call-btn.disabled {
  pointer-events: none;
}

.call-btn:hover,
.call-btn:focus {
  color: #e84a5f;
  background-color: #e2ddf8;
  scale: 1.1;
}

.call-btn:active {
  background-color: #5f6775;
  color: #f4f4f4;
}

@media screen and (max-width: 800px) {
  .inner {
    max-width: 224px;
  }
}

@media screen and (max-width: 1039px) {
  /* .contact-text {
        font-size: 16px;
    } */

  .email {
    font-size: 12px;
    /* font-style: italic; */
  }

  .label-name,
  .label-phone,
  .label-email {
    display: none;

    /* font-style: normal; */
    font-weight: 500;
  }

  .btn-label {
    display: none;
  }

  .delete-btn,
  .edit-btn,
  .call-btn,
  .message-btn,
  .fav-btn {
    width: 40px;
  }
}
