.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.edit-avatar-btn {
  padding: 0;
  width: auto;
  height: auto;
  border-radius: 50px;
  /* width: 16px;
  height: 16px; */
}

.thumb {
  /* outline: 1px dashed teal; */

  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border-radius: 50px;

  overflow: hidden;
}

.avatar {
  object-fit: cover;
}

.inner {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 4px;
}

.username {
  font-weight: 700;
  text-align: center;
}

.btn-logout {
  width: 80px;
  flex-shrink: 0;
}

@media screen and (max-width: 399px) {
  .thumb {
    /* width: 40px; */
    /* height: 40px; */
    width: 36px;
    height: 36px;
  }

  .username {
    display: none;
  }

  .wrapper {
    gap: 8px;
  }

  .btn-label {
    display: none;
  }

  .btn-logout {
    width: 40px;
    height: 36px;
  }
}
