.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.edit-avatar-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-shrink: 0;
  padding: 0;
  border: 1px solid;
  border-radius: 50px;
  transition: scale 250ms linear, color 250ms linear,
    background-color 250ms linear;
}

.thumb {
  /* outline: 1px dashed teal; */

  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border-radius: 50px;
  overflow: hidden;
}

.avatar {
  object-fit: cover;
}

.inner {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 4px;
}

.username {
  font-weight: 700;
  text-align: center;
}

.btn-logout {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 80px;
  padding: 16px 8px;
  height: 24px;
  cursor: pointer;
  flex-shrink: 0;

  border: 1px solid;
  border-radius: 4px;
  transition: scale 250ms linear, color 250ms linear,
    background-color 250ms linear;
}

.btn-logout:hover,
.btn-logout:focus,
.edit-avatar-btn:hover,
.edit-avatar-btn:focus {
  color: var(--color-accent-primary);
  background-color: var(--color-accent-secondary);
  scale: 1.1;
}

.btn-logout:active,
.edit-avatar-btn:active {
  background-color: #5f6775;
  color: #f4f4f4;
}

@media screen and (max-width: 399px) {
  .thumb {
    width: 36px;
    height: 36px;
  }

  .username {
    display: none;
  }

  .wrapper {
    gap: 8px;
  }

  .btn-label {
    display: none;
  }

  .btn-logout {
    width: 40px;
    height: 36px;
  }
}
